*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Verdana,sans-serif;
    scroll-behavior: smooth;
    color: rgba(12, 12, 12, 1);
    font-size: 18px;
    /* background-color:rgba(31, 36, 34, 0.5) ; */
}
#main{
    position: relative;
    background: linear-gradient(to bottom, #e7f5e7, #7cdd89);
}
#header{
    background-color: black;

    width: 100%;
    font-size: 20px;
    position: fixed;
    margin-top: -50px;
    z-index: 2;
    height: 54.55px;

}
#nav{
    list-style-type: none;
    display: inline-block;
    position: absolute;
    
}
#langu{
    display: inline-block;
    height: 100%;
    float: right; 
    margin-top: 15px;
    margin-right: 20px;
    overflow: hidden;
}
.co{
    width: 30px;
    height: 20px;
    margin-right: 5px;

}
.co:hover{
    border-radius: 5px;
}
#nav>li{
    display: inline-block;
    position: relative;
    height: 100%;
    border-radius: 8px;
}
#nav>li>a{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav>li>p{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav .sub_thongtin{
    display: none;
    background-color: black;
    list-style-type: none;
    width: 160px;
    position: absolute;
    border-radius: 10px;
}
#nav .sub_thongtin li {
    padding: 8px 20px 8px 0px;
    border-radius: 5px;
}
#nav .sub_thongtin li a{
    color:  white;
    text-decoration: none;
    padding-left: 10px;
}
#nav li:hover .sub_thongtin{
    display: block;
}
#nav li:hover {
    background-color: rgb(61, 51, 51);
}
#nav:hover{
    cursor: pointer;
}
#logo{
    width: 54.55px;
    height: 54.55px;
    display: inline-block;
}
#img-logo{
    width: 54.55px;
    height: 54.55px;
    border-radius: 8px;
}
#ti-menu{
    display: none;
    background-color: rgb(61, 51, 51);
    position: absolute;
    height: 54.55px;
    width: 54.55px;
    border-radius: 8px;
}
.ti-menu{
    color: white;
    font-size: 30px;
    ;position: absolute;
    top :17%;
    left: 20%;
}



















#slider{
    margin-top:46px;
    position:relative;
    max-height: 900px;
    width: 100%;
    overflow: hidden;
    
}
#image-slider{
    width: 100%;
}

#tex-slider{
    text-align: center;
    padding-top: 70px;
    color: rgb(30, 58, 48);
    
}
#member{
    color: black;
    background-image: linear-gradient(180,rgba(58, 204, 143,0.5),rgb(61, 135, 221,0.5));
}
.divanh{
    overflow: hidden;
    position: relative;
}
.anh{
    transition: transform 0.3s ease; 
}
.anh:hover{
    transform: scale(1.2); 
}
#content{
    margin: 30px 100px;

}
.list{
    width: 49%;
    display: inline-block;
    text-align: center;
    background-color: rgb(176, 174, 201);
    border-radius: 20px;
}
.anh{
    padding-top: 30px;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 40px;
}
#product{
    padding-top: 50px;
    
}
#pd_content{
    text-align: center;
}
.pd{
    padding-top: 80px;
  }



.setrong{
    width: 100%;
}





/* menu mini  */
#mini-menu{
    position: fixed;
    background-color: rgba(109, 100, 100,0);
    width: 125px;
    height: 125px;
    top:50px;
    left: 0;
    border-radius: 15px;
    display: none;
    z-index: 2;
 
}
#nav-mini>li{
    display: block;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(109, 100, 100,0.8);
}
#nav-mini>li>a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
#nav-mini>li>p{
    padding: 10px;
    display: block;
    color: white;
}
#nav-mini>li:hover {
    background-color: rgba(109, 100, 100,0.5);
    cursor: pointer;
}
.sub_thongtin-m>li:hover{
    background-color: rgba(109, 100, 100,0.5);
    cursor: pointer;
}
.sub_thongtin-m{
    position: fixed;
    list-style-type: none;
}
.sub_thongtin-m a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}
.sub_thongtin-m li{
    display: block;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(109, 100, 100,0.8);
}
#sub_thongtin-m1{
    width: 125px;
    height: 123px;
    display: block;
    top: 92px;
    left: 125px;
    display: none;
}
#sub_thongtin-m2{
    width: 125px;
    height: 123px;
    display: block;
    top: 135px;
    left: 125px;
    display: none;
}





/* cv  */

.cv{
    position: fixed;
    z-index: 2;
    top: 700px;
    left: 50%;
    transform: translate(-65%, -50%);
    display: none;
    
}
#black_bg{
    display: none;
}
.img-cv{
    width: 140%;
    padding: 0px 20px;
}





/* futer  */
#futer{

    margin-top: 200px;
    background-color: #282A35;
    height: 180px;
    border-radius: 10px;
    color: #fff;
    
}
#futer p{
padding-left:30px;
padding-top: 20px;
}
#icons{
padding-left: 30px;
padding-top: 30px;
position: relative;
}
.iconapp{
width: 35px;
height: 35px;
display: inline-block;
position: relative;
overflow: hidden;
}
.iconapp .icon{
width: 35px;
height: 35px;
border-radius: 7px;
width: 100%; /* Để đảm bảo ảnh điền vào phần container */
height: 100%; /* Để đảm bảo ảnh điền vào phần container */
transition: transform 0.3s ease;
}
.iconapp .icon:hover{
    transform: scale(1.2);
}