@media (max-width: 800px) {
    #nav{
        display: none;
    }
    #ti-menu{
        display: inline-block;
    }
    .list{
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 80%;
    }
    #content{
        margin: 15px 30px;
    
    } 
    .anh{
        width: 70%;
    }
    .list{
        width: 70%;
    }
    #futer{
 
        height: 170px !important;
        
    }
    #content{
        margin-top: 80px !important;
    }
    #product{
        margin-top: 100px !important;
    }

}
@media (max-width: 500px){
    .cv{
   
        top: 350px !important;
     
        transform: translate(-75%, -50%) !important;
    
        
    }
    
    .img-cv{
        width: 150% !important;
        padding: 0px 10px !important;
    }
}



@media (max-width: 1200px) {
    

.cv{
   
    top: 550px ;
 
    transform: translate(-62%, -50%);

    
}

.img-cv{
    width: 125%;
    
}
}